/*!
 * CSS file for the 'Lunar Lander Project' project page
 *
 * author: Shahbaz Singh Mansahia
 */

#ProjVid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
#heading{
  font-family: serif;
  color: #d3d3d3;
}
.text_overlay {
  position: fixed;
  /*bottom: -30em;  for half-wall overlay*/
  bottom: 810;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 50%;
  height: 75%;
  padding: 0px 40px 20px 20px;
  font-family: sans-serif;
  word-wrap: break-word;
}
